.movies,
.search_results_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  background-color: darkgray;
}
.movie_detail {
  width: 75%;
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  background-color: darkgray;
}
/* .movie_poster {
    border-radius: 50px;
} */
.mini_movie_container {
  width: 28%;
  margin: 1em;
  padding: 1em;
  background-color: darkgray;
  border-radius: 50px;
  border: 1px solid black;
  text-align: center;
}

.starRating {
  display: flex;
  justify-content: center;
}

.MovieListHeader {
  text-align: center;
  /* font-family: Luminari, fantasy */
  font-weight: bold;
}

.add_movie_wrapper,
.button_div,
.movie_detail_wrapper {
  display: flex;
  justify-content: center;
}
.add_movie_btn,
.search_button,
.clear_search_button {
  width: 175px;
  background-color: red;
}

.search_movie_lable {
  text-align: center;
}

.movie_title,
.friend_select,
.movie_comments_lable {
  font-weight: bold;
  font-size: 20px;
}
