.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  background-color: darkgray;
}
.movie_detail {
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    background-color: darkgray;
   
  }
/* .movie_poster {
    border-radius: 50px;
} */
.mini_movie_container {
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  background-color: darkgray;
  border-radius: 50px;
  border: 1px solid black;
  text-align: center;
  align-items: center;
}
.mini_movie_outside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.starRating {
  display: flex;
  justify-content: center;
}
