.friend {
  width: 40%;
  margin-right: 4em;
  margin-left: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 50px;
  background-color: lightgray;
}
.friends {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.delete_btn_wrapper {
  display: flex;
  justify-content: flex-end;
}
/* .delete_friend_btn {
  
} */

.friends_header,
.name {
    text-align: center;
  font-weight: bold;
  color: whitesmoke;
  -webkit-text-stroke: 1.11px black; /* stroke width and color */
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  font-size: 50px;
  margin-top: 65px;
}
.add_friend_wrapper,
.save_friend_wrapper,
.name_wrapper,
.search_wrapper,
.friend_input_wrapper {
  display: flex;
  justify-content: center;
}

.add__friend__btn,
.save_friend_btn {
  width: 175px;
  background-color:cornsilk;
  border: black;
  border-width: 1px;
}
.friend_name {
  font-size: 22px;
  font-weight: bold;
}
.friendForm_title {
  text-align: center;
  font-weight: bold;
}

.friend_name_input {
  width: 60%;
  height: 40px;
  font-size: 20px;
}
