.navbar {
  display: flex;
  background-color: rgba(255, 0, 0, 0.705);
  flex-basis: 100%;
}

.navbar__item {
  list-style-type: none;
  justify-content: space-between;
}

/* .active {
} */

/* .active:hover {
} */

.navbar__link {
  color: black;
  margin: 5em;
}

.navbar__link:hover {
  color: rgb(50, 146, 224);
}

/* .logo {
   
} */

.logo:hover {
  transform: scale(1.1);
}
