.navbar_image {
  flex-wrap: nowrap;
}
.navbar {
  background-color: rgba(12, 34, 56, 0);
}

.navbar_wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  text-decoration: none;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-image: url("https://ak.picdn.net/shutterstock/videos/1038613775/thumb/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 0;
  min-height: 60px;
  
}

.navbar__item {
  list-style-type: none;
  justify-content: space-between;
}

/* .active {
} */

/* .active:hover {
} */

.navbar-link {
  color: black;
}

.navbar-link:hover {
  color: rgb(50, 146, 224);
}

/* .logo {
   
} */

.logo:hover {
  transform: scale(1.1);
}
.logo {
  height: 75px;
  border-radius: 50px;
  margin: 4px;
}
